body {
  background-color: #162535;
  text-align: center;
}

.main {
  width: 80%;
  text-align: center;
  background-color: #727d8a;
  margin: auto;
  border: 0px solid white;
  border-radius: 8px;
}
#title {
  color: #b5bcc4;
}
#description {
  padding-top: 10px;
}

.inputs {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.inputs > * {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.inputs > * > label {
  width: 40%;
  text-align: right;
  margin-right: 10px;
}
.inputs > * > input {
  width: 40%;
}

.inputs > * > select {
  width: 40%;
  max-width: 200px;
}
.inputs > * > select {
  background-color: aqua;
}
.dropdown > label {
}

.radio-checkbox {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.radio-checkbox > * {
  margin-top: 10px;
}
textarea {
  width: calc(50% - 20px);
}
.button {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}
#submit {
  width: 200px;

  border: 0px solid white;
  border-radius: 10px;
  margin: 10px;
  background-color: beige;
}

input:invalid {
  background-color: pink;
}

@media (max-width: 444px) {
  .inputs > * {
    width: 80%;
    margin: auto;
  }
  .inputs > * > label {
    width: 80%;
    text-align: left;
  }
  .inputs > * > input {
    width: 80%;
  }
  .inputs > * > select {
    background-color: aqua;
    width: 80%;
  }
  .radio-checkbox > * {
    width: 80%;
  }
  /* .dropdown > label {
    width: 85%;
    margin-right: 20px;
  } */
  .radio-checkbox {
    justify-content: flex-start;
  }
  textarea {
    width: 80%;
  }
  .radio-div {
    display: flex;
    flex-direction: column;
  }
  .checkbox-div {
    display: flex;
    flex-direction: column;
  }
  .button {
    text-align: center;
  }
  #submit {
    width: 80%;
    border: 0px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: beige;
  }
}
