body {
  background-color: #162535;
  text-align: center;
}

.main {
  width: 80%;
  text-align: center;
  background-color: #727d8a;
  margin: auto;
  border: 0px solid white;
  border-radius: 8px;
}

.inputs {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.inputs > * {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}
.inputs > * > label {
  border: 1px solid blue;
  width: 40%;
  text-align: right;
}
.inputs > * > input {
  border: 1px solid green;
  width: 40%;
}

.inputs > * > select {
  border: 1px solid green;
  width: 40%;
}
.inputs > * > select {
  background-color: aqua;
}
.dropdown > label {
}

@media (max-width: 444px) {
  .inputs > * > label {
    border: 1px solid blue;
    width: 80%;
    text-align: left;
  }
  .inputs > * > input {
    border: 1px solid green;
    width: 80%;
  }
  .inputs > * > select {
    background-color: aqua;
    width: 80%;
  }
  /* .dropdown > label {
    width: 85%;
    margin-right: 20px;
  } */
}
